.CFUserTextEncoding
.CloudStation/
.DS_Store
.Trash/
.bash_history
.cache/
.cups/
.dropbox/
.gem/
.gitconfig.old
.heroku/
.lesshst
.netrc
.rnd
.rubies
.rvm/
.ssh/
.subversion/
.vim*
Applications/
CloudStation/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
files/
rubies/
