*.log
*_history
.CFUserTextEncoding
.CloudStation/
.DS_Store
.Trash/
.Xauthority
._.DS_Store__
._CloudStation__
._cloudbox__
.atom/
.bash_history
.boot2docker/
.bundle/
.cabal/
.cache/
.cedar/
.config
.cups/
.dropbox/
.elinks/
.exercism.json
.fontconfig/
.fonts/
.gem/
.ghc/
.gitconfig.old
.gmvault/
.gnupg/
.guard_history
.heroku/
.hitch_export_authors
.hitch_pairs
.hitchrc
.ido.last
.ievms/
.keybase-installer/
.keybase/
.lein/
.lesshst
.local/
.m2/
.mitmproxy/
.mobisync.json
.mono/
.mysql_history
.netrc
.npm/
.pairs
.phantomjs/
.pip/
.pry_history
.purple/
.rbx/
.rbx_debug
.rnd
.rubies
.rvm/
.ssh/
.subversion/
.tmux-session
.tor/
.trc
.vagrant.d/
.vim*
.xinitrc.d/
ActiveGSLocalData/
Application Data/
Applications/
CloneSpy/
CloudStation/
Cloudbox-extra/
Common Application Data/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
My Documents/
My Music/
My Videos/
Pictures/
Public/
Sites/
SnoodPrf.21W
VirtualBox\ VMs/
bundledgems/
dotextras/
files/
fontconfig/
gerrit_testsite/
github-backup.tmp/
gmvault-db/
go/
irclogs/
logged_in-github-backup
mwf_config
rubies/
scripts/
tmp/
workspace/
